<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ProjMan</title>
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <link rel="stylesheet" href="static/css/foundation.css" />
  <script src="static/js/vendor/modernizr.js"></script>
</head>
<body>
 <!-- Display flashed messages -->
      {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {%- for msg in msgs %}
            <div class="alert alert-info">
              {{ msg }}
            </div>
          {% endfor -%}
        {% endif %}
      {% endwith %}

      {% block body %} {% endblock %}

   <h1>{{ user }} List</h1>
      <!-- Main Page Content and Sidebar -->
     {% for post in post %}
      <div class="row">
        <!-- Main Blog Content -->
        <div class="large-9 columns" role="content">
          <article>
            <h4>{{ post.name }}</h4>

            <div class="row">
              <div class="large-6 columns">
                <p><b>Department:</b> {{ post.department }}</p>
                <p><b>Role:</b> {{ post.role }}</p>
                <p><b>Description:</b> {{ post.description }}</p>
                <p><a href="{{ url_for('edit', id=post.id) }}">Edit</a></p><p><a href="{{ url_for('delete', id=post.id) }}">Delete</a></p>

          </article>

          <hr/>

       {% endfor %}

   <a href="create" class="button" role="button">Create</a>
   <a href="logout" class="button" role="button">Log Out</a>

        <!-- End Main Content -->

   <script src="static/js/vendor/jquery.js"></script>
   <script src="static/js/foundation.min.js"></script>
   <script>
      $(document).foundation();
   </script>
</body>
</html>
